body{
  font-style: 20px;
  
}
.header{
  width:50%;
  margin:40px auto 0px;
  color:white;
  background: #483D8B;
  text-align: center;
  border: 1px solid gray;
  border-radius: 8px  8px 0px 0px;
}
.wrapper{
  width: 50%;
  margin:1px auto;
  border: 0px;
}
.words{
  width:29%;
  background-color:solid grey;
  padding-top: 10px;
  float:left;
}
.word{
  width:69%;
  float:left;
    background-color:solid grey;
  padding-left: 10px;
}
#word_list{
  max-height: 400px;
  overflow-y: scroll;
  background-color:#ffffff;
   opacity: .7;
}
li{
  list-style-type: none;

}
li:hover{
  cursor: pointer;
  colour: #483D8B;
}
ul{
  margin-left:-10px;
}
h3
{
  color: #483D8B;
}
#search{
  width: 69%;
  padding:5px;
  height:13px;
}
button{
  color:white;
  background: #483D8B;
  height:22px;
  border: none;
  border-radius: 4px;
}
